<!DOCTYPE html>
<html>

  <%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->  
  
  <body>

    <%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->
    
    <div class="consultaSaldo">Consulta de Saldo</div>

    <div class="seleccionaCuenta">Este es tu saldo actual</div>

    <div class="bodyCuentaDetalle">
      <% if (cuenta.n == null) { %> 
        <div class="cuentaInexistente">La cuenta que busca no existe</div>
      <% } else { %>
        <div class="cuentaDetalle">
          <div>Saldo de la cuenta: <%= cuenta.saldo %></div>
          <div>Tipo de cuenta: 
            <% if (cuenta.tipo_letras == "CA") { %>
              Caja de Ahorro en 
            <% } else if (cuenta.tipo_letras == "CC" || "Cc") { %>
              Cuenta Corriente en %>
            <% } %>
            
            <% if (cuenta.moneda == "u$s") { %>
              Dólares
            <% } else if (cuenta.moneda == "$") { %>
              Pesos
              <% } %> 
          </div>
          <div>Número de cuenta: <%= cuenta.n %></div>      
        </div>
      <% } %>
    </div>
          
    <%- include('partials/footer.ejs') %>  

  </body>

</html>